*.fif
*.pkl
*.stc
*__pycache__
*.npy
*.dil
*.gz
*.png
*.pptx
*.data*
*.pb
*.index

dev
.vscode
logs
notes
env
evaluate/figures
evaluate
keras-tuner
build
evaluate
keras-tuner
logs
.pytest_cache
dist
esinet.egg-info
dev